
obj/nexus.csproj.nuget.dgspec.json
.vs/Nexus/DesignTimeBuild/.dtbcache.v2
.vs/Nexus/project-colors.json
obj/nexus.csproj.nuget.dgspec.json
obj/nexus.csproj.nuget.g.props
obj/nexus.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/x86/Debug/nexus.assets.cache
obj/x86/Debug/nexus.csproj.AssemblyReference.cache
obj/x86/Debug/nexus.csproj.CoreCompileInputs.cache
obj/x86/Debug/nexus.csproj.FileListAbsolute.txt
obj/x86/Debug/nexus.dll
obj/x86/Debug/nexus.GeneratedMSBuildEditorConfig.editorconfig
obj/x86/Debug/nexus.genruntimeconfig.cache
obj/x86/Debug/nexus.pdb
obj/nexus.csproj.nuget.dgspec.json
obj/nexus.csproj.nuget.g.props
obj/nexus.csproj.nuget.g.targets
obj/project.assets.json
obj/x86/Debug/nexus.assets.cache
obj/x86/Debug/nexus.csproj.AssemblyReference.cache
obj/x86/Debug/nexus.csproj.CoreCompileInputs.cache
obj/x86/Debug/nexus.csproj.FileListAbsolute.txt
obj/x86/Debug/nexus.GeneratedMSBuildEditorConfig.editorconfig
obj/x86/Debug/nexus.pdb
obj/project.nuget.cache
obj/nexus.csproj.nuget.dgspec.json
obj/nexus.csproj.nuget.dgspec.json
Module/Anticheat/AntiCheatEvents.cs
.vs/Nexus/v17/HierarchyCache.v1.txt
.vs/Nexus/v17/fileList.bin
.vs/Nexus/v17/.suo
.vs/Nexus/v17/.futdcache.v1
Module/Anticheat/AntiCheatEvents.cs
